body{
 background-color: #ff0084;   
}
form{
    margin-top: 20%;
}
.form-label{
    color: azure
}

img{
    margin-top: 20%;
    height: 200px;
    width: 400px;
}
.botao{
    margin-top: 30px;
}
.btn{
    color: aliceblue;
    width: 100%;
}
a{
    margin-top: 15px;
}